@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
}
html img {
  max-width: 100%;
  height: auto;
}
#hero {
  width: 100%;
  height: 919px;
  background: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0) 100%
    ),
    url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero .hero_content {
  width: 66%;
  text-align: center;
}
#hero .hero_content .subtitle {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
}
#hero .hero_content .title {
  color: rgb(255, 255, 255);
  font-size: 43px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0%;
  text-align: center;
}
#hero .hero_content .description {
  color: rgb(255, 255, 255);
  width: 80%;
  margin: 5px auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
#hero .hero_content button {
  width: 282px;
  height: 65px;
  margin: 15px 0;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  border: none;
}
#hero .hero_content button > a {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
}

/* About Section */
#about {
  width: 100%;
  height: auto;
  display: flex;
}
#about .about_img {
  width: 50%;
  height: auto;
}
#about .about_content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#about .about_content h1 {
  width: 80%;
  margin: 0 auto;
  color: rgb(16, 16, 16);
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
}
#about .about_content p {
  opacity: 0.6;
  color: rgb(16, 16, 16);
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.about_social .title {
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
